.table {
  margin-top: 15px;
  padding: 20px;
  min-height: 500px;
  background-color: #fff;
  :global {
    .operation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        font-size: 18px;
        font-weight: 500;
      }
      .right {
        margin-right: 40px;
      }
      :where(.css-dev-only-do-not-override-18iikkb).ant-btn {
        border-radius: 0;
        margin-right: 4px;
      }
    }
    .list {
      margin-top: 20px;
    }
    :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper
      .ant-table-tbody
      > tr.ant-table-row-selected:hover
      > td {
      background-color: #dcf4ff !important;
    }
    :where(
        .css-dev-only-do-not-override-18iikkb
      ).ant-radio-button-wrapper:first-child {
      border-radius: 0;
    }
    :where(
        .css-dev-only-do-not-override-18iikkb
      ).ant-radio-button-wrapper:last-child {
      border-radius: 0;
    }
    :where(.css-dev-only-do-not-override-18iikkb).ant-switch.ant-switch-checked {
      background-color: #52c41a;
    }
    :where(.css-dev-only-do-not-override-18iikkb).ant-switch.ant-switch-checked:hover{
      background-color: #52c41a;
    }
  }
}
